<%- include("navbar.ejs")%>
<form action="/admin/update_project" method="post" enctype="multipart/form-data">
    <div class="container bg-info">
        <div class="row mt-4">
            <div class="col-12 mt-3">
    <h3 class="text-center">Edit Project</h3>
            </div>
            <% project.map((row,i)=>{ %>

            <div class="col-2 mt-3 mb-3 mr-3">
                Project Image
                <input type="file" name="project_image"/>
                <input type="hidden" name="project_id" value="<%-row.project_id%>"/>
            </div>
            <div class="col-2 mt-3 mb-3 mr-3">
               <img src="/<%-row.project_image%>" width="100px"/>
            </div> 
            <div class="col-2 mt-3 mb-3 mr-3">
              Project Title
               <input type="text" name="project_title" value="<%-row.project_title%>" />
            </div>
            <div class="col-2 mt-3 mb-3 mr-3">
                Project Description
                 <input type="text" name="project_description" value="<%-row.project_description%>" />
              </div>
            <div class="col-2 mt-3 mb-3">
                <br>
                <button class="btn btn-primary">Update</button>
            </div>
            
          <%  }) %>
            </div>
            </div>
            </form>
            <%- include("footer.ejs")%>